<h1 class="app-page-title">SUMMARY</h1>
<div class="container-fluid p-4">
    <h1 class="mb-4">{{ 'DASHBOARD.TITLE' | translate }}</h1>

    <div class="card shadow-sm p-4">
        <div class="card-body">
            <h5 class="card-title">{{ 'DASHBOARD.WELCOME_TITLE' | translate }}</h5>
            <p class="card-text">
                {{ 'DASHBOARD.SUMMARY_TEXT' | translate }}
            </p>

            <a routerLink="/app/products" class="btn btn-primary mt-3">
                <i class="fas fa-list-alt me-2"></i> {{ 'PRODUCT.LIST.TITLE' | translate }}'e Git
            </a>
        </div>
    </div>
</div>
